{% extends "encyclopedia/layout.html" %} {% block title %} Edit
Markdown {% endblock %} {% block body %}

<div class="container p-3">
  <h1 class="pb-3">Edit Markdown</h1>
  <form
    class="d-flex flex-column"
    action="edit_markdown"
    method="POST"
  >
    {% csrf_token %}
    <textarea name="textarea" style="height: 400px">
 {{entry}} </textarea
    >
    <input
      type="text"
      style="display: none"
      name="title"
      value="{{title}}"
    />
    <input
      id="edit_markdownButton"
      style="width: 200px"
      type="submit"
    />
  </form>
</div>

{% endblock %}
